<table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th>message</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.favorites.map {|f|f.post}.each do |post| %>
      <tr>
        <td><%= image_tag profile_url(post.user) %></td>
        <td><%= link_to post.user.name, user_path(post.user) %></td>
        <td><%= post.body %></td>
        <td id="favorite-btn-<%= post.id %>"><%= render 'favorites/favorite', post: post %></td>
      </tr>
    <% end %>
  </tbody>
</table>