<%= form_with(model: post, local: true) do |form| %>

  <div class="field row">
    <%= form.label :title %><br>
    <%= form.text_field :title, class: 'col-xs-12' , id: :post_title, placeholder:'enter title' %>
  </div>

  <div class="field row">
    <%= form.label :message %><br>
    <%= form.text_area :body, class: 'col-xs-12' , id: :post_body,  placeholder:'enter message ' %>
  </div>


  <div class="actions row">
    <%= form.submit "Create Book", class: "btn btn-primary col-xs-12" %>
  </div>
<% end %>
